<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Vision 2015

To be the preferred financial solutions provider excelling in customer delivery through insight, empowered employees and smart use of technology</p></br>
<p>
	<h3>Core Values</h3></br>

    Customer Centricity</br>
    Ethics</br>
    Transparency</br>
    Teamwork</br>
    Ownership</br>
</p>