<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  For assistance with your account, please email <a href="mailto:shanmukha49reddy@gmail.com">shanmukha49reddy@gmail.com</a>
</p>
<p>
	Siltek Software Solutions (I) Pvt. Ltd.</br>
B-Block, 5th Floor</br>
Kanthi Sikhara Complex,</br>
Panjagutta, Hyderabad - 500 082</br>
Andhra Pradesh, INDIA</br>
Tel: 91-40-2340 8900</br>
</p>