<div class="center hero-unit">
  <h1>The Bank of Shanmukh</h1>

  <h2>
  Welcome to the Bank of Shanmukh's Online Banking system
  </h2>

  <h3><%= link_to "Customer Sign in", signin_path %> |
    <%= link_to "Administrator Sign in", admin_signin_path %>
  </h3>
</div>


